<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo</title>
</head>
<body>
    <h1>things i need to do</h1>
    {% for item in items %}

    <tr>
        {% if item.done %}

        <td> - <strike>{{item.name}} </strike> -- </td>
        {% else %}
        <td> {{item.name}}</td>
        {% endif %}
        <td>
        <form method="GET" action="edit/{{item.id}}">
            <input type="submit" value="Edit">
        </form>
        </td>
    </tr>
    {% empty %}

        <p>No Data available</p>
    {% endfor %}
<br>
    <a href="add">Add a todo</a>
</body>
</html>